

@import "./normalize.css";
@import "./unsemantic-grid-responsive.css";
@import "./bootstrap.css";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background-color: #e0e0e0;
}

.container {
  background-color: #ffffff;
}

body {
  padding: 0;
}

.obligatorio {
  text-decoration: underline;
  font-style: italic;
}

td.nowrap {
  min-width: 80px;
  max-width: 250px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */  
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }

/* Custom page footer */
.footer {
  padding: 0.3em;
  text-align: center;
  font-style: italic;
  margin: 0;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;  
}

.jumbotron.btn {
    font-size: 21px;
    padding: 14px 24px;
  }

/* Supporting marketing content */
.marketing {
  margin: 40px 0;  
}

.marketing p + h4 {
    margin-top: 28px;
  }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  body {

  }
  .container {    
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
    min-height: 750px;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

/* estilo de barra de menú*/
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #337ab7;
  background-color: #d9edf7;
}

.navbar-default .navbar-nav > .active {
  color: #337ab7;
  background-color: #d9edf7;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #337ab7;
  background-color: #d9edf7;
}

/* estilo link deshabilitado */
a.disabled {
  color: #AAAAAA;
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}

.disabled {
  color: #aaaaaa;
}

h1, h2, h3, h4, h5 {
  color: steelblue;
}

h1, h2 {
  font-variant: small-caps;
  letter-spacing: -1px;
}

label {
  font-variant: small-caps;
}

.tableScroll{
  width: 100%;
  margin-bottom: 15px;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #000000;
}
