<div class="panel panel-default">
    <div class="panel-heading">
        <h4> Aplicación {{name}}</h4>
    </div>
    <div class="panel-body">
        {{description}}
    </div>  
    <div class="panel-footer">
        Version: {{version}}
    </div>
</div>


