<div ng-controller="HeaderCtrl" class="panel panel-info" style="margin-top: 10px;">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-3" style="text-align: center;">
        <img src="images/logo_consejeria.png" alt="Logo Junta de Casilla y León"
             style="margin-left: auto; margin-right: auto;" class="hidden-xs hidden-sm"
             height="100"/>
      </div>
      <div class="col-md-6 center-block titulo-aplicacion">
        <h1 style="text-align: center; ">
          <a href="/"><span style="font-variant: small-caps">{{aplicacion.descripcion}}</span></a>
        </h1>
      </div>
      <div class="col-md-3 center-block" style="text-align: center;">
        <img src="images/logo_gss.png" alt="Logo Gerencia"
             style="margin-left: auto; margin-right: auto;" class="hidden-xs hidden-sm"
             height="75"/>
      </div>
    </div>
  </div>
</div>
